<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="about.css">
    <title>About</title>
</head>
<body>
    <header>
        <h1>
           About Me:
        </h1>
    </header>

    <nav>
        <ul>
          <a href="home">Home</a>
          <a href="about">About</a>  
          <a href="projects">Projects</a>
          <a href="services">Services</a>      
        </ul>
    </nav>
    
    <br>
    <p style="color: #333;">
--> I am a computer science and engineering graduate from Assam University, Silchar(Central University), to have new experiences, meet new people, and learn new things. I believe curiosity leads to creation.
<br>
--> I am the training and placement cell coordinator of my university.
<br>
--> I am the Founder and Coordinator of MUSIC & DANCE CLUB, Assam University, Silchar.
<br>
-->I am the co-founder and coordinator of IT-CLUB of Computer Science & Engineering branch, Assa 
      University, Silchar.
<br>
-->I am the event organizer of fourth international conference, on Computational Intelligence in 
     Communications and Business Analytics.
<br>
--> I am presently a SDE intern @ Pratham Softwares(PSI).
<br>
--> I have a YouTube channel for educational content purpose, where I teach academic subjects.
       channel name: IT-CLUB Assam university.
<br>
--> I am very much interested in the cyber security domain where I like to discover new vulnerabilities and 
       along with the solution to those for providing a better secure plateform.
<br>
--> I enjoy challenges that enable me to grow in life. I like to find application in what is taught to me and 
       use Pomodoro techniques to learn as quickly as possible.
<br>
--> Having lived all around the country and met a lot of new people. I am able to adapt any surroundings 
      and at any circumstances.
    </p>


    <div class="education">
        <h2>Education</h2>
        <ul>
            <li><strong>Assam University, Silchar(Central University)</strong> - Bachelor's of Technology(B.tech) in Computer Science & Engineering</li>
        </ul>
    </div>

    <br>
    <br>

    <div class="experience">
        <h2>Work Experience</h2>
        <ul>
            <li>
                <strong>Pratham Softwares(PSi)</strong>|| Software Development Engineer | Intern<br>
                <em>June, 2022 - August, 2022</em><br>
                <p>Working on Flask environment for developing the backend and
                    performing CRUD operations on web applications using
                    SQLALchemy and Sqlite database.</p>
            </li>
            <!-- Add more work experiences as needed -->
        </ul>
    </div>

    <br>
    <br>

   <div class="skills">
    <h2>Skills</h2>
    <ul>
        <li>HTML, CSS, JavaScript</li>
        <li>React, Node.js, Flask</li>
        <li>Version Control (Git), MVC</li>
        <li>SQL, MySQL, PLSQL, R-DBMS</li>
        <!-- Add more skills as needed -->
    </ul>
   </div>

   <div class="por">
    <h2>Position of Responsibility</h2>
    <ul>
        <li>Training & Placement Cell Coordinator | Assam University, Silchar</li>


        <li>IT - CLUB Co-Founder | Assam University, Silchar</li>


        <li>Music & Dance Club | Founder & Coordinator</li>
       

        <li>Organized 4th International conference on CICBA</li>

    </ul>
   </div>

   <br>
   <br>

   <div class="contact">
    <h2>Contact Information</h2>
    <ul>
        <li>Email: arunavdutta27@gmail.com</li>
        <li>Phone: +91 8638490441</li>
        <li>LinkedIn: <a href=" https://www.linkedin.com/in/arunabha-dutta-426631210/">Arunabh Dutta</a></li>
        <li>GitHub: <a href="https://github.com/Arunav1">Arunav1</a></li>
    </ul>
   </div>
    
</body>
</html>