<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="projects.css">
    <title>Projects</title>
</head>
<body>
    <header>
        <h1>
        Projects Completed:
        </h1>
    </header>

    <nav>
        <ul>
          <a href="home">Home</a>
          <a href="about">About</a>  
          <a href="projects">Projects</a>
          <a href="services">Services</a>      
        </ul>
    </nav>
    
    <br>

    <div class="project1">
        <h3>Project 1: Blog Alpha</h3>
        <p>Full stack developed blogging app, using HTML, CSS and JavaScript for the frontend and for developing the backend of the app NODE_JS and MONGODB is used.</p>
        <a href="https://blog-alpha-arunav-dutta.onrender.com/blogs"><button>View Project</button></a>
      </div>
  
      <div class="project2">
        <h3>Project 2: Sign-Up and LogiIn page using React_JS</h3>
        <p>Using React_JS which is a JavaScript frontend library developed a fully functioning and responsive Sign-Up and Login Page</p>
        <a href="https://github.com/Arunav1/Sign-Up-and-logIn-page-using-React-JS"><button>View Project</button></a>
      </div>

      <div class="project3">
        <h3>Project 2: Live weather App in using React_JS</h3>
        <p>Using React_JS developed a weather app which is fully functioning and delivers the live weather data including wind speed and humidity along with the temperature of the selected area</p>
        <a href="https://github.com/Arunav1/Weather_App_React_Js"><button>View Project</button></a>
      </div>

      <div class="project4">
        <h3>Project 2: FLASK CRUD API</h3>
        <p>Dveeloped the backend of a web app using FLASK, REST API, PYTHON and POSTMAN which enables the user to perform the CREATE, READ, UPDATE and DELETE operations</p>
        <a href="https://github.com/Arunav1/Flask-CRUD-api"><button>View Project</button></a>
      </div>

</body>
</html>