<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <title>Services</title>
</head>
<body>
    <header>
        <h1>
            Services provided
        </h1>
    </header>

    <nav>
        <ul>
          <a href="home">Home</a>
          <a href="about">About</a>  
          <a href="projects">Projects</a>
          <a href="services">Services</a>      
        </ul>
    </nav>

    <div class="service">

        <h1>
            Building End - To - End Softwares
        </h1>
        <h2>
            Development Stack: 
        </h2>
        <br>
    </div>

    <div class="frontend">
        <h2>Frontend Stack</h2>
        <br>
        <section>
           <img src="/assets/react.png" alt="" width="90px" height="90px">
          <img src="/assets/HTML.png" alt="" width="90px" height="90px">
          <img src="/assets/CSS.png" alt="" width="90px" height="90px">
            <img src="/assets/three.webp" alt="" width="90px" height="90px">
            <img src="/assets/js.png" alt="" width="100px" height="90px">
        </section>
    </div>
    <br>
    <br>
    <div class="backend">
        <h2>Backend Stack</h2>
        <br>
        <section>
            <img src="/assets/node.png" alt=""  width="100px" height="90px"> 
            <img src="/assets/flask.png" alt=""  width="100px" height="90px"> 
            <img src="/assets/python.png" alt=""  width="100px" height="90px"> 
            <img src="/assets/mongodb.png" alt=""  width="100px" height="90px"> 
            <img src="/assets/SQL.png" alt=""  width="100px" height="90px"> 
        </section>
    </div>
</body>
</html>