.education {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 400px;
  position: absolute;
  top: 80%;
  left: 30%;
  transform: translate(-50%, -50%);
  transition: transform 0.3s ease-in-out;
}

.experience {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 600px;
  position: absolute;
  top: 120%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 0.3s ease-in-out;
}

.skills {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    position: absolute;
    top: 80%;
    left: 74%;
    transform: translate(-50%, -50%);
    transition: transform 0.3s ease-in-out;
  }
  

.por {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px;
    margin-bottom: 20px;
    width: 600px;
    position: absolute;
    top: 160%;
    left: 27%;
    transform: translate(-50%, -50%);
    transition: transform 0.3s ease-in-out;
}

.por ul {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.contact {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    position: absolute;
    top: 160%;
    left: 74%;
    transform: translate(-50%, -50%);
    transition: transform 0.3s ease-in-out;
}
